.roster-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  th,
  td {
    padding: 12px 15px;
  }
  th {
    text-align: center;
  }

  thead {
    tr {
      background-color: #c2c2c2;
      color: #ffffff;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
    }

    tr.active-row {
      font-weight: bold;
      color: #009879;
    }

    tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    tr:hover {
      border: black solid 2px;
    }

    .view-player-info {
      cursor: pointer;
      text-align: center;
    }
  }
}


